{% extends 'pacientes/base.html' %}

{% block content %}
<h1>Listado de animales!</h1>

<table class="table table-bordered">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Raza
        </th>
        <th>
            Sexo
        </th>
        <th>
            Pais_origne
        </th>
        <th>
            color
        </th>
        <th>
            ID
        </th>
    </tr>

        {% for animal in animales %}
        <tr>
            <td>
                {{ animal.nombre }}

            </td>
            <td>
                {{ animal.raza }}
            </td>
            <td>
                {{ animal.sexo }}

            </td>
            <td>
                {{ animal.pais_origen }}

            </td>
            <td>
                {{ animal.color }}

            </td>
            <td>
                {{ animal.uid }}
            </td>
        </tr>
    
    
        {% endfor %}
    
</table>

<a href="{% url 'pacientes:registrar' %}" class="btn btn-outline-success" >Registrar un animal</a>

{% endblock %}  