{% extends 'pacientes/base.html' %}

{% block content %}
<h1>Registrar un animal</h1>

<form action="{% url 'pacientes:registrar' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="mb-3">
            <label for="paciente">Nombre de paciente</label>
            <select name="paciente" id="pacientes" class="from_select">
                {% for paciente in pacientes.results %}
                <option value="{{paciente.uuid}}">{{paciente.nombre}}</option>
                {% endfor %}
            </select>

        </div>
        <div class="mb-3">
            <label for="nombre">Nombre de animal</label>
            <input class="form-control" type="input" name="nombre" id="nombre" value="Negra">

        </div>
        <div class="mb-3">
            <label for="nombre">Raza</label>
            <input class="form-control" type="input" name="raza" id="raza" value="Kiltro">

        </div>
        <div class="mb-3">
            <div class="form-check">
                <label class="form-check-label" for="masculino">Masculino</label>
                <input class="form-check-input" type="radio" name="sexo" id="masculino" value="H" checked >

            </div>
            <div class="form-check">
                <label class="form-check-label" for="femenino">Femenino</label>
                <input class="form-check-input" type="radio" name="sexo" id="femenino" value="M">

            </div>

        </div>
        <div class="mb-3">
            <label for="origen">Pais de origen</label>
            <input class="form-control" type="input" name="origen" id="origen" value="Francia">

        </div>

        <div class="mb-3">

            <label for="nombre">Color</label>
            <input class="form-control" type="input" name="color" id="color" value="Negra">


        </div>

        <div class="mb-3">
            <label for="nombre">RUT</label>
            <input class="form-control" type="input" name="rut" id="rut" value="19281869-5">


        </div>

    </fieldset>
    <input type="submit" class="btn btn-success d-block w-100 mt-5" value="Registrar">
</form>

<a href="{% url 'pacientes:inicio' %}" class="btn btn-outline-success mt-5" >Ir a ver listado</a>

{% endblock %}